= tinymce
= simple_form_for(@story, :html => {:class => ["form-horizontal", "story-form"], :id => "story-form"}) do |f|
  = f.error_notification

  = f.input :name
  = f.input :title, :hint => "De titel wordt boven het verhaal geplaatst."

  = f.input :description, :input_html => { :id => "tinymce-bla", :class => "tinymce" }, :hint => "Het liefst hebben we dat het verhaal bij de foto past!"


  .control-group
    .controls
      .fileupload.fileupload-new{"data-provides" => "fileupload"}
        %span.btn.btn-file
          %span.fileupload-new Select file
          %span.fileupload-exists Change
          = f.file_field :photo
        %span.fileupload-preview= image_tag @story.photo.thumb if @story.photo.present?
        %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
        - if @story.errors[:photo]
          .error.control-group
            %span.help-inline.error= @story.errors[:photo].join(". ")
        = f.input :photo_cache, :as => :hidden
  .control-group
    .controls.actions
      = f.button :submit, "Verzend"

%p.lead.offset1
  = t("nr_verhalen", :count => Story.count)
