<!DOCTYPE html>
!!!
%html
  %head
    %title Geheim gebied van jubileum van Johan en Karin
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span8.offset1
          %p.lead
            Johan en Karin hebben hun 25-jarig jubileum! 
            %br
            Hier beheren we de verhalen.


    .page
      .page-container
        .container
          - if flash[:notice]
            .alert.alert-info
              %button.close{:data => { :dismiss => "alert" }} &times;
              = flash[:notice]
          = yield
