<!DOCTYPE html>
!!!
%html
  %head
    %title Jubileum van Johan en Karin
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = tinymce_assets
    = csrf_meta_tags
  %body
    .container
      .row
        .span8.offset1
          %p.lead
            Johan en Karin hebben hun 25-jarig jubileum! 
            %br
            Stuur hier je verhaal en foto in voor in het jubileum boek.
          = image_tag "johan_karin.JPG", :class => "img-rounded"


    .page
      .page-container
        .container
          - if flash[:notice]
            .alert.alert-info
              %button.close{:data => { :dismiss => "alert" }} &times;
              = flash[:notice]
          = yield
